<div id="login">
  <div id="anyguess">
    <div class="top text">Any</div>
    <div class="bottom text">Guess</div>
    <div class="right text">?</div>
  </div>
</div>

<div id="game-container" class="container-fluid">
  <div class="row">
    <div class="col-lg">
      <h1 id="question"></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg">
      <div id="countdown"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm answer answer1">
      <h2 id="answer1"></h2>
    </div>
    <div class="col-sm answer answer2">
      <h2 id="answer2"></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg">
      <h5 id="message"></h5>
    </div>
  </div>
</div>

<div id="logout">
  <a href="/sessions/logout">Logout</a>
</div>

<div id="users">
  <div id="players">
    Current players<br/>
    <% @players.each do |player| %>
      <div class="user" data-id="<%= player.user.id %>" data-role="<%= player.user.role %>" data-me="<%= current_user.email == player.user.email %>">
        <%= image_tag(gravatar_url(player.user.email, 64), alt: player.user.email, title: player.user.email) %>
      </div>
    <% end %>
  </div>
  <div id="viewers">
    Current viewers<br/>
    <% @viewers.each do |player| %>
      <div class="user" data-id="<%= player.user.id %>" data-role="<%= player.user.role %>" data-me="<%= current_user.email == player.user.email %>">
        <%= image_tag(gravatar_url(player.user.email, 64), alt: player.user.email, title: player.user.email) %>
      </div>
    <% end %>
  </div>
</div>
