<p id="notice"><%= notice %></p>

<h1>Games</h1>

<table class="table">
  <thead>
    <tr>
      <th class="name" scope="col">Name</th>
      <th class="desc" scope="col">Desc</th>
      <th class="time" scope="col">Scheduled at</th>
      <th class="actions" scope="col"></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= link_to game.name, url_for(game) %></td>
        <td><%= game.desc %></td>
        <td><%= game.scheduled_at %></td>
        <td>
          <%= link_to 'Show', game %>
          <%= link_to 'Edit', edit_game_path(game) %>
          <%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game', new_game_path %>
