<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @game.name %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @game.desc %>
</p>

<p>
  <strong>Scheduled at:</strong>
  <%= @game.scheduled_at %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
