<p id="notice"><%= notice %></p>

  <div>
    <h1>Games</h1>

    <%= link_to 'Edit', edit_game_path(@game) %> |
    <%= link_to 'Back', games_path %>
  </div>
  <div class="table-show" id="game" data-id="<%= @game.id %>">
    <table id="game" class="table">
      <tr>
        <th class="name" scope="col">Name</th>
        <td class="desc"><%= @game.name %></td>
      </tr>
      <tr>
        <th class="name" scope="col">Desc</th>
        <td class="desc"><%= @game.desc %></td>
      </tr>
      <tr>
        <th class="name" scope="col">State</th>
        <td class="desc">
          <select id="game_state">
            <%= options_for_select(%w{new started running completed cancelled}, selected: @game.state) %>
          </select>
        </td>
      </tr>
      <tr>
        <th class="name" scope="col">Players</th>
        <td class="desc"><%= @game.players.count %></td>
      </tr>
      <tr>
        <th class="name" scope="col">Scheduled</th>
        <td class="desc"><%= @game.scheduled_at %></td>
      </tr>
      <tr>
        <th>
          Questions
        </th>
        <td></td>
      </tr>
      <% @questions.each do |q| %>
        <tr id="question-<%= q.id %>">
          <th><button class="question" data-id="<%= q.id %>">Ask!</button></th>
          <td>
            <table class="table">
              <tr><td colspan="2"><%= q.text %></td></tr>
              <tr>
                <td><%= q.answer1 %><br/><button class="answer" data-id="<%= q.id %>" data-answer="1" disabled="true">Correct</button></td>
                <td><%= q.answer2 %><br/><button class="answer" data-id="<%= q.id %>" data-answer="2" disabled="true">Correct</button></td>
              </tr>
            </table>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="table-form">

    <div id="users">
      <div id="players">
        Current players<br/>
        <% @players.each do |player| %>
          <div class="user" data-id="<%= player.user.id %>" data-role="<%= player.user.role %>" data-me="<%= current_user.email == player.user.email %>">
            <%= image_tag(gravatar_url(player.user.email, 64), alt: player.user.email, title: player.user.email) %>
          </div>
        <% end %>
      </div>
      <div id="viewers">
        Current viewers<br/>
        <% @viewers.each do |player| %>
          <div class="user" data-id="<%= player.user.id %>" data-role="<%= player.user.role %>" data-me="<%= current_user.email == player.user.email %>">
            <%= image_tag(gravatar_url(player.user.email, 64), alt: player.user.email, title: player.user.email) %>
          </div>
        <% end %>
      </div>
    </div>

  </div>
</div>
